*{
    padding:0;
    margin:0;
}
ul,li,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.music{
	display: inline;
	margin-left:20px;
	font-size:60px;	
	font-weight:bolder;
	font-family:STXingkai;
    color: #0f33a3;	
}
.first{
	width: 1200px;
	margin:0px auto;
    margin-top: 40px;
}
.he1{
	margin:0px auto;
	width: 900px;
	height: 360px;
	border-bottom: 1px solid white;
}
.touxiang{
    width: 300px;
    height: 300px;
    margin:0px 40px 0px 80px;
    border-radius: 300px;
    background-image:url(./00.jpg);
    float: left;
} 
.name{
	float: left;
	margin:0px 0px 0px 5px;
}
.name1{
	margin: 20px 20px 0px 20px;	
}
.name22{
	float: left;
	border-right: 1px solid white;
}
.name2{
	float: left;
}
.name3{
	float: left;
	color: white;
	font-family: STXinwei;
	margin-top: 3px;
}
.name4{
	float: left;
}
.name4 input{
	width: 146px;
	height: 25px;
	color: #0f33a3;
	font-weight: bolder;
	border: 1px solid white;
	border-radius:8px;
	background-color: #fc6a7d;
	font-family:STKaiti;
}
.name5{	
    color: red;
    margin-top: 20px;
    font-size:12px;
}
.he2{
	margin:0px auto;
	width: 900px;
	height:470px;
	border-bottom: 1px solid white;
	position: relative;
}
.second{
    float: left;
    width: 250px;
    height: 430px;
    background-color: white;
}
.ren{
	float: left;
}
.fudong{
	float: left;
	margin-left:17px;
	margin-top: 18px;
}
.douyin{
	float: left;
	margin-left:20px;
    color:#f16776;
}
.game{
	float: left;
	margin-left: 27px;
	color:#f16776;
}
.dianying{
	float: left;
	margin-left: 27px;
	color:#f16776;
}
.zhonghe{
    float: left;
    margin-top: 40px;
    width:400px; 
    height:390px;
    background-color: #f43f50;
}
.hang1{
	margin:0px 40px 0px 80px;
}
.wangyi1{
	float: left;
}
.ge1{
	float: left;
	color: #0f33a3;
}
.xiong{
	position: absolute;
	top:10px;
	left: 200px;
}
.youhe{
	float: left;
	margin-top: 40px;
	width: 247px;
	height: 390px;
}
.youhe1{
	width: 247px;
	height: 358px;
	margin-top: -5px;
	background-color: #f390ad;
}
.youhe2{
    width: 247px;
    height: 288px;
}
.zi1{
	width: 247px;
	height: 22px;
	padding-top:15px;
}
.zi11{
	font-size:22px;
	font-family:STHupo;
	color: #f7017c;
	margin:0px 10px 0px 16px;
}
.zi12{
	margin-right: 35px;
	font-family:STHupo;
	color: #f7017c;
}
.zi13{
	font-size: 22px;
	font-family:STHupo;
	color:white; 
}
.zi2{
	width: 247px;
	height: 30px;
	padding-top:15px;
}
.zi21{
	font-size: 30px;
	font-family:STHupo;
	color:white; 
	margin:0px 10px 0px 16px;
}
.zi22{
	margin-right:5px;
	font-family:STHupo;
	color: #f7017c;
}
.zi23{
    font-size:20px;
    font-family:STHupo;
    color: #f7017c;
    margin-left: 8px;
}
.zi3{
	width: 247px;
	height: 28px;
	padding-top:15px;
}
.zi31{
	font-size:24px;
	font-family:STHupo;
	color: #f7017c;
	margin:0px 18px 0px 16px;
}
.zi32{
	font-size: 20px;
	font-family:STHupo;
	color: #f7017c;
    margin-right:15px;
}
.zi33{
	font-size: 28px;
	font-family:STHupo;
	color:white;
	margin-left: 9px;
}
.zi4{
	width: 247px;
	height: 24px;
	padding-top:15px; 	
}
.zi41{
	font-size: 20px;
	font-family:STHupo;
	color:white;
	margin:0px 18px 0px 16px;
}
.zi42{
	font-size: 24px;
	font-family:STHupo;
	color: #f7017c;
	margin-right: 30px;
}
.zi43{
	font-size: 22px;
	font-family:STHupo;
	color:white;
}
.zi5{
	width: 247px;
	height: 30px;
	padding-top:15px; 
}
.zi51{
	font-size: 22px;
	font-family:STHupo;
	color: #f7017c;
	margin:0px 31px 0px 31px
}
.zi52{
	font-size: 30px;
	font-family:STHupo;
	color:white;
}
.zi6{
	width: 247px;
	height: 24px;
	padding-top:15px; 
}
.zi61{
	margin:0px 8px 0px 16px;
	font-family:STHupo;
	color: #f7017c;
}
.zi62{
	font-size: 24px;
	font-family:STHupo;
	color:white;
}
.first1{
	width: 1200px;
	margin:0px auto;
    margin-top: 40px;
}
.he3{
	margin:0px auto;
	width: 900px;
	height: 480px;
	border-bottom: 1px solid white;
}
.kongjian{
	margin-bottom: 40px;
	font-size: 22px;
	font-family: STXingkai;
	color: #f7017c;
}
.he3 img{
    padding-left:24px;
}
.sihe{
	float: left;
}
.sizi1{
	float: left;
	font-size: 30px;
	color: #f7017c;
	font-family:STXingkai;
	margin-top: 5px;
	margin-left: 80px;
}
.sizi2{
	float: left;
	font-size: 30px;
	color: #f7017c;
	font-family:STXingkai;
	margin-top: 5px;
	margin-left: 145px;
}
.sizi3{
	float: left;
	font-size: 30px;
	color: #f7017c;
	font-family:STXingkai;
	margin-top: 5px;
	margin-left: 130px;
}
.sizi4{
	float: left;
	font-size: 30px;
	color: #f7017c;
	font-family:STXingkai;
	margin-top: 5px;
	margin-left: 115px;
}
.liaojie2{
	width: 120px;
	height: 20px;
	margin-top: 50px;
	margin-left: 365px;
	padding: 12px 25px 10px 40px;
	border:1px solid #f7017c;	
	border-radius: 20px;
	font-family: STXingkai;
	font-weight: bolder;
	font-size: 20px;
	float: left;
}
.first2{
	width: 1200px;
	margin:0px auto;
    margin-top: 40px;
}
.he4{
	margin:0px auto;
	width: 940px;
	height: 1620px;
}
.tu1{
	float: left;
	width: 350px;
	height: 250px;
	border: 3px solid white;
	margin-right: 6px;
}
.tu2{
	width: 250px;
	height: 400px;
	float: left;
	border: 3px solid white;
	margin-right: 6px;
}
.tu3{
	width: 280px;
	height: 400px;
	float: left;
	border: 3px solid white;
}
.tu4{
    width: 350px;
    height: 624px;
	margin-top: -144px;
	margin-right: 7px;
	float: left;
	border: 3px solid white;
}
.tu5{
	width: 540px;
	height: 720px;
	margin-top: 6px;
	float: left;
	border: 3px solid white;
}
.tu6{
	width: 350px;
	height: 650px;
	margin-top: -240px;
	float: left;
	border: 3px solid white;
}
.tu7{
	width: 540px;
	height: 300px;
	margin-top: 6px;
	margin-left: 7px;
	float: left;
	border: 3px solid white;
}
.jiantou1{
	float: left;
    font-size:60px;
    color: red;
    margin-top: 10px;
    margin-left: 75px;
}
.jiantou2{
	float: left;
	color: red;
    font-size:60px;
    margin-top: 10px;
}
.liaojie1{
	width: 150px;
	height: 20px;
    padding: 10px 35px 20px 60px;
    margin-top: 30px;    
    border:1px solid white;
	border-radius: 20px;
	float:left;
	font-size: 22px;
	font-family: STKaiti;
	font-weight: bolder;
	color:#357ce4;
	background-color: red;
}
.he5{
	margin:0px auto;
	width: 940px;
	height: 90.67px;
	margin-top: -40px;
}
.thanks{
	padding: 35px 400px 35px 400px;
	background-color:#357ce4;
}



















