		<div class="search-sec">
			<div class="container">
				<div class="search-box">
					<form>
						<input type="text" name="search" placeholder="Search keywords">
						<button type="submit" style="background-color: #FF6700">Search</button>
					</form>
				</div><!--search-box end-->
			</div>
		</div><!--search-sec end-->

		<main>
			<div class="main-section">
				<div class="container">
					<div class="main-section-data">
						<div class="row">
							<div class="col-lg-3">
								<div class="filter-secs" style="margin-bottom: 20px">
									<div class="filter-heading">
										<h3>热门学科</h3>
									</div><!--filter-heading end-->
									<div class="paddy">
										<div class="filter-dd">
											<div class="filter-ttl">
												<h3>一级学科</h3>
												<!-- <a href="#" title="">Clear</a> -->
											</div>
											<form class="job-tp">
												<select>
													<option>工学</option>
													<option>经济学</option>
													<option>理学</option>
												</select>
												<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
											</form>
										</div>
										<div class="filter-dd">
											<div class="filter-ttl">
												<h3>二级学科</h3>
												<!-- <a href="#" title="">Clear</a> -->
											</div>
											<form class="job-tp">
												<select>
													<option>机械工程</option>
													<option>计算机科学与技术</option>
													<option>理论经济</option>
													<option>应用经济</option>
													<option>数学</option>
													<option>物理学</option>
												</select>
												<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
											</form>
										</div>
										<div class="filter-dd">
											<div class="filter-ttl">
												<h3>三级学科</h3>
												<!-- <a href="#" title="">Clear</a> -->
											</div>
											<form class="job-tp">
												<select>
													<option>机械设计及理论</option>
													<option>机械制造及其自动化</option>
													<option>过程设备与机械</option>

													<option>计算机应用技术</option>
													<option>计算机系统结构</option>
													<option>计算机软件与理论</option>

													<option>发展经济学</option>
													<option>法律经济学</option>
													<option>管理经济学</option>

													<option>产业经济学</option>
													<option>城市经济学</option>
													<option>传媒经济学</option>

													<option>基础数学</option>
													<option>计算数学</option>
													<option>量子信息学</option>

													<option>计算物理</option>
													<option>理论物理</option>
													<option>精密测量物理</option>
												</select>
												<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
											</form>
										</div>
									</div>
								</div><!--filter-secs end-->
								<div class="widget widget-user">
		                            <h3 class="title-wd">热门标签</h3>
		                            <ul class="classification quest-tags1">
		                                <li>

		                                    <div class="usr-msg-details">
		                                        <div class="usr-mg-info">
		                                            <h3><a href="#" title="">c++</a></h3>
		                                        </div><!--usr-mg-info end-->
		                                    </div>
		                                    <!-- <span>11篇</span> -->
		                                    <span><img src="../static/images/price1.png" alt="">1185</span>
		                                </li>
		                                <li>

		                                    <div class="usr-msg-details">
		                                        <div class="usr-mg-info">
		                                            <h3><a href="#" title="">Work</a></h3>
		                                        </div><!--usr-mg-info end-->
		                                    </div>
		                                    <!-- <span>11篇</span> -->
		                                    <span><img src="../static/images/price2.png" alt="">1165</span>
		                                </li>
		                                <li>

		                                    <div class="usr-msg-details">
		                                        <div class="usr-mg-info">
		                                            <h3><a href="#" title="">Php</a></h3>
		                                        </div><!--usr-mg-info end-->
		                                    </div>
		                                    <!-- <span>11篇</span> -->
		                                    <span><img src="../static/images/price3.png" alt="">1120</span>
		                                </li>
		                                <li>

		                                    <div class="usr-msg-details">
		                                        <div class="usr-mg-info">
		                                            <h3><a href="#" title="">Design</a></h3>
		                                        </div><!--usr-mg-info end-->
		                                    </div>
		                                    <!-- <span>11篇</span> -->
		                                    <span><img src="../static/images/price4.png" alt="">1009</span>
		                                </li>

		                            </ul>
		                        </div><!--widget-adver end-->
							</div>
							<div class="col-lg-6">
								<div class="main-ws-sec">
									<div class="posts-section">
										<div class="post-bar">
											<div class="post_topbar">
												<div class="usy-dt">
													<img src="../static/images/resources/us-pic.png" alt="">
													<div class="usy-name">
														<h3>John Doe</h3>
														<span><img src="../static/images/clock.png" alt="">3 min ago</span>
													</div>
												</div>
											</div>
											
											<div class="job_descp">
												<h3>我是标题</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id magna sit amet... <a href="#" title="">view more</a></p>
												<ul class="skill-tags">
													<li><a href="#" title="">HTML</a></li>
													<li><a href="#" title="">PHP</a></li>
													<li><a href="#" title="">CSS</a></li>
													<li><a href="#" title="">Javascript</a></li>
													<li><a href="#" title="">Wordpress</a></li> 	
												</ul>
											</div>
											<div class="job-status-bar">
												<ul class="like-com">
													<li>
														<a href="#" class="active"><i class="la la-heart"></i> Like</a>
														<img src="../static/images/liked-img.png" alt="">
														<span>25</span>
													</li> 
													<li><a href="#" title="" class="com"><img src="../static/images/com.png" alt=""> Comment 15</a></li>
												</ul>
												<a><i class="la la-eye"></i>Views 50</a>
											</div>
										</div><!--post-bar end-->
										<div class="post-bar">
											<div class="post_topbar">
												<div class="usy-dt">
													<img src="../static/images/resources/us-pic.png" alt="">
													<div class="usy-name">
														<h3>John Doe</h3>
														<span><img src="../static/images/clock.png" alt="">3 min ago</span>
													</div>
												</div>
											</div>
											
											<div class="job_descp">
												<h3>我是标题</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id magna sit amet... <a href="#" title="">view more</a></p>
												<ul class="skill-tags">
													<li><a href="#" title="">HTML</a></li>
													<li><a href="#" title="">PHP</a></li>
													<li><a href="#" title="">CSS</a></li>
													<li><a href="#" title="">Javascript</a></li>
													<li><a href="#" title="">Wordpress</a></li> 	
												</ul>
											</div>
											<div class="job-status-bar">
												<ul class="like-com">
													<li>
														<a href="#"><i class="la la-heart"></i> Like</a>
														<img src="../static/images/liked-img.png" alt="">
														<span>25</span>
													</li> 
													<li><a href="#" title="" class="com"><img src="../static/images/com.png" alt=""> Comment 15</a></li>
												</ul>
												<a><i class="la la-eye"></i>Views 50</a>
											</div>
										</div><!--post-bar end-->
										<div class="post-bar">
											<div class="post_topbar">
												<div class="usy-dt">
													<img src="../static/images/resources/us-pic.png" alt="">
													<div class="usy-name">
														<h3>John Doe</h3>
														<span><img src="../static/images/clock.png" alt="">3 min ago</span>
													</div>
												</div>
											</div>
											
											<div class="job_descp">
												<h3>我是标题</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id magna sit amet... <a href="#" title="">view more</a></p>
												<ul class="skill-tags">
													<li><a href="#" title="">HTML</a></li>
													<li><a href="#" title="">PHP</a></li>
													<li><a href="#" title="">CSS</a></li>
													<li><a href="#" title="">Javascript</a></li>
													<li><a href="#" title="">Wordpress</a></li> 	
												</ul>
											</div>
											<div class="job-status-bar">
												<ul class="like-com">
													<li>
														<a href="#"><i class="la la-heart"></i> Like</a>
														<img src="../static/images/liked-img.png" alt="">
														<span>25</span>
													</li> 
													<li><a href="#" title="" class="com"><img src="../static/images/com.png" alt=""> Comment 15</a></li>
												</ul>
												<a><i class="la la-eye"></i>Views 50</a>
											</div>
										</div><!--post-bar end-->
										<div class="process-comm">
											<a href="#" title=""><img src="../static/images/process-icon.png" alt=""></a>
										</div><!--process-comm end-->
									</div><!--posts-section end-->
								</div><!--main-ws-sec end-->
							</div>
							<div class="col-lg-3">
								<div class="widget widget-about">
									<img src="../static/images/wd-logo.png" alt="">
									<h3>笔记在线分享平台</h3>
									<!-- <span>Pay only for the Hours worked</span> -->
									<div class="sign_link">
										<h3><a href="#" title="">Sign up</a></h3>
										<a href="#" title="">Learn More</a>
									</div>
								</div><!--widget-about end-->
								<div class="suggestions full-width">
									<div class="sd-title">
										<h3>推荐作者</h3>
										<i id="custom-refresh" class="la la-refresh"></i>
										<!-- <i class="la la-ellipsis-v"></i> -->
									</div><!--sd-title end-->
									<div class="suggestions-list">
										<div class="suggestion-usd">
											<img src="../static/images/resources/s1.png" alt="">
											<div class="sgt-text">
												<h4>Jessica William</h4>
												<span>Graphic Designer</span>
											</div>
											<span><i class="la la-plus"></i></span>
										</div>
										<div class="suggestion-usd">
											<img src="../static/images/resources/s2.png" alt="">
											<div class="sgt-text">
												<h4>John Doe</h4>
												<span>PHP Developer</span>
											</div>
											<span><i class="la la-plus"></i></span>
										</div>
										<div class="suggestion-usd">
											<img src="../static/images/resources/s3.png" alt="">
											<div class="sgt-text">
												<h4>Poonam</h4>
												<span>Wordpress Developer</span>
											</div>
											<span><i class="la la-plus"></i></span>
										</div>
										<div class="suggestion-usd">
											<img src="../static/images/resources/s4.png" alt="">
											<div class="sgt-text">
												<h4>Bill Gates</h4>
												<span>C & C++ Developer</span>
											</div>
											<span><i class="la la-plus"></i></span>
										</div>
										<div class="suggestion-usd">
											<img src="../static/images/resources/s5.png" alt="">
											<div class="sgt-text">
												<h4>Jessica William</h4>
												<span>Graphic Designer</span>
											</div>
											<span><i class="la la-plus"></i></span>
										</div>
										<div class="suggestion-usd">
											<img src="../static/images/resources/s6.png" alt="">
											<div class="sgt-text">
												<h4>John Doe</h4>
												<span>PHP Developer</span>
											</div>
											<span><i class="la la-plus"></i></span>
										</div>
										<div class="view-more">
											<a href="#" title="">View More</a>
										</div>
									</div><!--suggestions-list end-->
								</div><!--suggestions end-->
								<div class="widget widget-adver">
									<img src="http://via.placeholder.com/370x270" alt="">
								</div><!--widget-adver end-->
							</div>
						</div>
					</div><!-- main-section-data end-->
				</div> 
			</div>
		</main>
		
		<div class="chatbox-list" style="display: block;">
	        <div class="chatbox">
	            <div class="chat-mg" style="margin: 20px 10px">
	                <div class="go-top">
	                    <div class="arrow" style="text-align: center"><i class="fa fa-chevron-up"></i></div>
	                </div>
	            </div>
	        </div>
	    </div><!--chatbox-list end-->

		<footer class="myfooter">
	        <div class="footy-sec mn no-margin">
	            <div class="container text-center">
	                <p style="float: none;"><span><img style="float: none;" src="../static/images/copy-icon2.png" alt="">Copyright 2020 本归尘博客系统由游马版权所有</span></p>
	            </div>
	        </div>
	    </footer>